{
  "x-doc-structure": {
    "resources": {
      "allowlists": {
        "title": "Allowlists",
        "description": "Add, list, or delete from your Rejection Allowlist.",
        "paths": ["/allowlists/add", "/allowlists/list", "/allowlists/delete"]
      },
      "exports": {
        "title": "Exports",
        "description": "Start an export, or get information on export jobs in progress.",
        "paths": [
          "/exports/info",
          "/exports/list",
          "/exports/rejects",
          "/exports/whitelist",
          "/exports/allowlist",
          "/exports/activity"
        ]
      },
      "inbound": {
        "title": "Inbound",
        "description": "Manage your inbound domains and routes.",
        "paths": [
          "/inbound/domains",
          "/inbound/add-domain",
          "/inbound/check-domain",
          "/inbound/delete-domain",
          "/inbound/routes",
          "/inbound/add-route",
          "/inbound/update-route",
          "/inbound/delete-route",
          "/inbound/send-raw"
        ]
      },
      "ips": {
        "title": "IPs",
        "description": "Request and manage Dedicated IPs for your account, and set up reverse DNS.",
        "paths": [
          "/ips/list",
          "/ips/info",
          "/ips/provision",
          "/ips/start-warmup",
          "/ips/cancel-warmup",
          "/ips/set-pool",
          "/ips/delete",
          "/ips/list-pools",
          "/ips/pool-info",
          "/ips/create-pool",
          "/ips/delete-pool",
          "/ips/check-custom-dns",
          "/ips/set-custom-dns"
        ]
      },
      "messages": {
        "title": "Messages",
        "description": "Send, schedule, or get information on your emails.",
        "paths": [
          "/messages/send",
          "/messages/send-template",
          "/messages/search",
          "/messages/search-time-series",
          "/messages/info",
          "/messages/content",
          "/messages/parse",
          "/messages/send-raw",
          "/messages/list-scheduled",
          "/messages/cancel-scheduled",
          "/messages/reschedule"
        ]
      },
      "metadata": {
        "title": "Metadata",
        "description": "Manage your custom metadata fields in your account.",
        "paths": [
          "/metadata/list",
          "/metadata/add",
          "/metadata/update",
          "/metadata/delete"
        ]
      },
      "rejects": {
        "title": "Rejects",
        "description": "Add, list, or delete from your Rejection Denylist.",
        "paths": ["/rejects/add", "/rejects/list", "/rejects/delete"]
      },
      "senders": {
        "title": "Senders",
        "description": "Manage or get information about your sending domains.",
        "paths": [
          "/senders/list",
          "/senders/domains",
          "/senders/add-domain",
          "/senders/check-domain",
          "/senders/verify-domain",
          "/senders/info",
          "/senders/time-series"
        ]
      },
      "subaccounts": {
        "title": "Subaccounts",
        "description": "Manage your subaccounts, including the abilitiy to pause and resume sending.",
        "paths": [
          "/subaccounts/list",
          "/subaccounts/add",
          "/subaccounts/info",
          "/subaccounts/update",
          "/subaccounts/delete",
          "/subaccounts/pause",
          "/subaccounts/resume"
        ]
      },
      "tags": {
        "title": "Tags",
        "description": "List, delete, or get information on your Tags and their sending statistics.",
        "paths": [
          "/tags/list",
          "/tags/delete",
          "/tags/info",
          "/tags/time-series",
          "/tags/all-time-series"
        ]
      },
      "templates": {
        "title": "Templates",
        "description": "Manage the Templates in your account.",
        "paths": [
          "/templates/add",
          "/templates/info",
          "/templates/update",
          "/templates/publish",
          "/templates/delete",
          "/templates/list",
          "/templates/time-series",
          "/templates/render"
        ]
      },
      "urls": {
        "title": "URLs",
        "description": "Manage your tracking domains. Some of these endpoints may be deprecated.",
        "paths": [
          "/urls/list",
          "/urls/search",
          "/urls/time-series",
          "/urls/tracking-domains",
          "/urls/add-tracking-domain",
          "/urls/check-tracking-domain"
        ]
      },
      "users": {
        "title": "Users",
        "description": "Get information about your account, or ping Transactional.",
        "paths": [
          "/users/info",
          "/users/ping",
          "/users/ping2",
          "/users/senders"
        ]
      },
      "webhooks": {
        "title": "Webhooks",
        "description": "Manage the webhooks in your account.",
        "paths": [
          "/webhooks/list",
          "/webhooks/add",
          "/webhooks/info",
          "/webhooks/update",
          "/webhooks/delete"
        ]
      },
      "whitelists": {
        "title": "Whitelists",
        "description": "Add, list, or delete from your Rejection Allowlist. These endpoints are being replaced with a series of functionally identical endpoints called /allowlists.",
        "paths": ["/whitelists/add", "/whitelists/list", "/whitelists/delete"]
      }
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.59",
    "title": "Mailchimp Transactional API",
    "contact": {
      "name": "API Support",
      "email": "apihelp@mailchimp.com"
    },
    "x-permalink": "https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/transactional.json"
  },
  "host": "mandrillapp.com",
  "basePath": "/api/1.0",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": [
    "application/json",
    "application/x-php",
    "application/x-yaml; charset=utf-8"
  ],
  "paths": {
    "/messages/send": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "send",
          "methodNameSnake": "send"
        },
        "summary": "Send new message",
        "description": "Send a new transactional message through the Transactional API.",
        "operationId": "postMessagesSend",
        "tags": ["messages"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "message"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "message": {
                  "type": "object",
                  "description": "the information on the message to send",
                  "properties": {
                    "html": {
                      "type": "string",
                      "description": "the full HTML content to be sent"
                    },
                    "text": {
                      "type": "string",
                      "description": "optional full text content to be sent"
                    },
                    "subject": {
                      "type": "string",
                      "description": "the message subject"
                    },
                    "from_email": {
                      "type": "string",
                      "description": "the sender email address",
                      "format": "email"
                    },
                    "from_name": {
                      "type": "string",
                      "description": "optional from name to be used"
                    },
                    "to": {
                      "type": "array",
                      "description": "an array of recipient information.",
                      "items": {
                        "type": "object",
                        "description": "a single recipient's information",
                        "required": ["email"],
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "the email address of the recipient",
                            "format": "email"
                          },
                          "name": {
                            "type": "string",
                            "description": "the optional display name to use for the recipient"
                          },
                          "type": {
                            "type": "string",
                            "description": "the header type to use for the recipient, defaults to \"to\" if not provided",
                            "enum": ["to", "cc", "bcc"]
                          }
                        }
                      }
                    },
                    "headers": {
                      "type": "object",
                      "description": "optional extra headers to add to the message (most headers are allowed)"
                    },
                    "important": {
                      "type": "boolean",
                      "description": "whether or not this message is important, and should be delivered ahead of non-important messages"
                    },
                    "track_opens": {
                      "type": "boolean",
                      "description": "whether or not to turn on open tracking for the message"
                    },
                    "track_clicks": {
                      "type": "boolean",
                      "description": "whether or not to turn on click tracking for the message"
                    },
                    "auto_text": {
                      "type": "boolean",
                      "description": "whether or not to automatically generate a text part for messages that are not given text"
                    },
                    "auto_html": {
                      "type": "boolean",
                      "description": "whether or not to automatically generate an HTML part for messages that are not given HTML"
                    },
                    "inline_css": {
                      "type": "boolean",
                      "description": "whether or not to automatically inline all CSS styles provided in the message HTML - only for HTML documents less than 256KB in size"
                    },
                    "url_strip_qs": {
                      "type": "boolean",
                      "description": "whether or not to strip the query string from URLs when aggregating tracked URL data"
                    },
                    "preserve_recipients": {
                      "type": "boolean",
                      "description": "whether or not to expose all recipients in to \"To\" header for each email"
                    },
                    "view_content_link": {
                      "type": "boolean",
                      "description": "set to false to remove content logging for sensitive emails"
                    },
                    "bcc_address": {
                      "type": "string",
                      "description": "an optional address to receive an exact copy of each recipient's email",
                      "format": "email"
                    },
                    "tracking_domain": {
                      "type": "string",
                      "description": "a custom domain to use for tracking opens and clicks instead of mandrillapp.com"
                    },
                    "signing_domain": {
                      "type": "string",
                      "description": "a custom domain to use for SPF/DKIM signing instead of mandrill (for \"via\" or \"on behalf of\" in email clients)"
                    },
                    "return_path_domain": {
                      "type": "string",
                      "description": "a custom domain to use for the messages's return-path"
                    },
                    "merge": {
                      "type": "boolean",
                      "description": "whether to evaluate merge tags in the message. Will automatically be set to true if either merge_vars or global_merge_vars are provided."
                    },
                    "merge_language": {
                      "type": "string",
                      "description": "the merge tag language to use when evaluating merge tags, either mailchimp or handlebars",
                      "enum": ["mailchimp", "handlebars"]
                    },
                    "global_merge_vars": {
                      "type": "array",
                      "description": "global merge variables to use for all recipients. You can override these per recipient.",
                      "items": {
                        "type": "object",
                        "description": "a single global merge variable",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "the global merge variable's name. Merge variable names are case-insensitive and may not start with _"
                          },
                          "content": {
                            "type": "string",
                            "description": "the global merge variable's content"
                          }
                        }
                      }
                    },
                    "merge_vars": {
                      "type": "array",
                      "description": "per-recipient merge variables, which override global merge variables with the same name.",
                      "items": {
                        "type": "object",
                        "description": "per-recipient merge variables",
                        "required": ["rcpt"],
                        "properties": {
                          "rcpt": {
                            "type": "string",
                            "description": "the email address of the recipient that the merge variables should apply to",
                            "format": "email"
                          },
                          "vars": {
                            "type": "array",
                            "description": "the recipient's merge variables",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "the merge variable's name. Merge variable names are case-insensitive and may not start with _"
                                },
                                "content": {
                                  "type": "string",
                                  "description": "the merge variable's content"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "description": "an array of string to tag the message with. Stats are accumulated using tags, though we only store the first 100 we see, so this should not be unique or change frequently. Tags should be 50 characters or less. Any tags starting with an underscore are reserved for internal use and will cause errors.",
                      "items": {
                        "type": "string",
                        "description": "a single tag - must not start with an underscore"
                      }
                    },
                    "subaccount": {
                      "type": "string",
                      "description": "the unique id of a subaccount for this message - must already exist or will fail with an error"
                    },
                    "google_analytics_domains": {
                      "type": "array",
                      "description": "an array of strings indicating for which any matching URLs will automatically have Google Analytics parameters appended to their query string automatically.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "google_analytics_campaign": {
                      "type": "string",
                      "description": "optional string indicating the value to set for the utm_campaign tracking parameter. If this isn't provided the email's from address will be used instead.",
                      "format": "email"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "metadata an associative array of user metadata. Mandrill will store this metadata and make it available for retrieval. In addition, you can select up to 10 metadata fields to index and make searchable using the Mandrill search api.",
                      "properties": {
                        "website": {
                          "type": "string",
                          "description": "a valid website url"
                        }
                      }
                    },
                    "recipient_metadata": {
                      "type": "array",
                      "description": "Per-recipient metadata that will override the global values specified in the metadata parameter.",
                      "items": {
                        "type": "object",
                        "description": "metadata for a single recipient",
                        "properties": {
                          "rcpt": {
                            "type": "string",
                            "description": "the email address of the recipient that the metadata is associated with",
                            "format": "email"
                          },
                          "values": {
                            "type": "object",
                            "description": "an associated array containing the recipient's unique metadata. If a key exists in both the per-recipient metadata and the global metadata, the per-recipient metadata will be used.",
                            "properties": {
                              "user_id": {
                                "type": "integer",
                                "description": ""
                              }
                            }
                          }
                        }
                      }
                    },
                    "attachments": {
                      "type": "array",
                      "description": "an array of supported attachments to add to the message",
                      "items": {
                        "type": "object",
                        "description": "a single supported attachment",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "the MIME type of the attachment"
                          },
                          "name": {
                            "type": "string",
                            "description": "the file name of the attachment"
                          },
                          "content": {
                            "type": "string",
                            "description": "the content of the attachment as a base64-encoded string"
                          }
                        }
                      }
                    },
                    "images": {
                      "type": "array",
                      "description": "an array of embedded images to add to the message",
                      "items": {
                        "type": "object",
                        "description": "a single embedded image",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "the MIME type of the image - must start with \"image/\""
                          },
                          "name": {
                            "type": "string",
                            "description": "the Content ID of the image - use <img src=\"cid:THIS_VALUE\"> to reference the image in your HTML content"
                          },
                          "content": {
                            "type": "string",
                            "description": "the content of the image as a base64-encoded string"
                          }
                        }
                      }
                    }
                  }
                },
                "async": {
                  "type": "boolean",
                  "description": "enable a background sending mode that is optimized for bulk sending. In async mode, messages/send will immediately return a status of \"queued\" for every recipient. To handle rejections when sending in async mode, set up a webhook for the 'reject' event. Defaults to false for messages with no more than 10 recipients; messages with more than 10 recipients are always sent asynchronously, regardless of the value of async."
                },
                "ip_pool": {
                  "type": "string",
                  "description": "the name of the dedicated ip pool that should be used to send the message. If you do not have any dedicated IPs, this parameter has no effect. If you specify a pool that does not exist, your default pool will be used instead."
                },
                "send_at": {
                  "type": "string",
                  "description": "when this message should be sent as a UTC timestamp in YYYY-MM-DD HH:MM:SS format. If you specify a time in the past, the message will be sent immediately; for future dates, you're limited to one year from the date of scheduling.",
                  "format": "date-time"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "an array of objects for each recipient containing the key \"email\" with the email address, and details of the message status for that recipient",
              "items": {
                "type": "object",
                "description": "the sending results for a single recipient",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "the email address of the recipient"
                  },
                  "status": {
                    "type": "string",
                    "description": "the sending status of the recipient",
                    "enum": [
                      "sent",
                      "queued",
                      "scheduled",
                      "rejected",
                      "invalid"
                    ]
                  },
                  "reject_reason": {
                    "type": "string",
                    "description": "the reason for the rejection if the recipient status is \"rejected\"",
                    "enum": [
                      "hard-bounce",
                      "soft-bounce",
                      "spam",
                      "unsub",
                      "custom",
                      "invalid-sender",
                      "invalid",
                      "test-mode-limit",
                      "unsigned",
                      "rule"
                    ]
                  },
                  "queued_reason": {
                    "type": "string",
                    "description": "the reason for the email being queued if the response status is \"queued\"",
                    "enum": [
                      "attachments",
                      "multiple-recipients",
                      "free-trial-sends-exhausted",
                      "hourly-quota-exhausted",
                      "monthly-limit-reached",
                      "sending-paused",
                      "sending-suspended",
                      "account-suspended",
                      "sending-backlogged"
                    ]
                  },
                  "_id": {
                    "type": "string",
                    "description": "the message's unique id"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/messages/send-template": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "sendTemplate",
          "methodNameSnake": "send_template"
        },
        "summary": "Send using message template",
        "description": "Send a new transactional message through the Transactional API using a template.",
        "operationId": "postMessagesSendTemplate",
        "tags": ["messages"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "template_name",
                "template_content",
                "message"
              ],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "template_name": {
                  "type": "string",
                  "description": "the immutable slug of a template that exists in the user's account. Make sure you don't use the template name as this one might change."
                },
                "template_content": {
                  "type": "array",
                  "description": "an array of template content to send. Each item in the array should be a struct with two keys - name: the name of the content block to set the content for, and content: the actual content to put into the block",
                  "items": {
                    "type": "object",
                    "description": "the injection of a single piece of content into a single editable region",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "the name of the mc:edit editable region to inject into"
                      },
                      "content": {
                        "type": "string",
                        "description": "the content to inject"
                      }
                    }
                  }
                },
                "message": {
                  "type": "object",
                  "description": "the other information on the message to send - same as /messages/send, but without the html content",
                  "properties": {
                    "html": {
                      "type": "string",
                      "description": "optional full HTML content to be sent if not in template"
                    },
                    "text": {
                      "type": "string",
                      "description": "optional full text content to be sent"
                    },
                    "subject": {
                      "type": "string",
                      "description": "the message subject"
                    },
                    "from_email": {
                      "type": "string",
                      "description": "the sender email address",
                      "format": "email"
                    },
                    "from_name": {
                      "type": "string",
                      "description": "optional from name to be used"
                    },
                    "to": {
                      "type": "array",
                      "description": "an array of recipient information.",
                      "items": {
                        "type": "object",
                        "description": "a single recipient's information",
                        "required": ["email"],
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "the email address of the recipient",
                            "format": "email"
                          },
                          "name": {
                            "type": "string",
                            "description": "the optional display name to use for the recipient"
                          },
                          "type": {
                            "type": "string",
                            "description": "the header type to use for the recipient, defaults to \"to\" if not provided",
                            "enum": ["to", "cc", "bcc"]
                          }
                        }
                      }
                    },
                    "headers": {
                      "type": "object",
                      "description": "optional extra headers to add to the message (most headers are allowed)"
                    },
                    "important": {
                      "type": "boolean",
                      "description": "whether or not this message is important, and should be delivered ahead of non-important messages"
                    },
                    "track_opens": {
                      "type": "boolean",
                      "description": "whether or not to turn on open tracking for the message"
                    },
                    "track_clicks": {
                      "type": "boolean",
                      "description": "whether or not to turn on click tracking for the message"
                    },
                    "auto_text": {
                      "type": "boolean",
                      "description": "whether or not to automatically generate a text part for messages that are not given text"
                    },
                    "auto_html": {
                      "type": "boolean",
                      "description": "whether or not to automatically generate an HTML part for messages that are not given HTML"
                    },
                    "inline_css": {
                      "type": "boolean",
                      "description": "whether or not to automatically inline all CSS styles provided in the message HTML - only for HTML documents less than 256KB in size"
                    },
                    "url_strip_qs": {
                      "type": "boolean",
                      "description": "whether or not to strip the query string from URLs when aggregating tracked URL data"
                    },
                    "preserve_recipients": {
                      "type": "boolean",
                      "description": "whether or not to expose all recipients in to \"To\" header for each email"
                    },
                    "view_content_link": {
                      "type": "boolean",
                      "description": "set to false to remove content logging for sensitive emails"
                    },
                    "bcc_address": {
                      "type": "string",
                      "description": "an optional address to receive an exact copy of each recipient's email",
                      "format": "email"
                    },
                    "tracking_domain": {
                      "type": "string",
                      "description": "a custom domain to use for tracking opens and clicks instead of mandrillapp.com"
                    },
                    "signing_domain": {
                      "type": "string",
                      "description": "a custom domain to use for SPF/DKIM signing instead of mandrill (for \"via\" or \"on behalf of\" in email clients)"
                    },
                    "return_path_domain": {
                      "type": "string",
                      "description": "a custom domain to use for the messages's return-path"
                    },
                    "merge": {
                      "type": "boolean",
                      "description": "whether to evaluate merge tags in the message. Will automatically be set to true if either merge_vars or global_merge_vars are provided."
                    },
                    "merge_language": {
                      "type": "string",
                      "description": "the merge tag language to use when evaluating merge tags, either mailchimp or handlebars",
                      "enum": ["mailchimp", "handlebars"]
                    },
                    "global_merge_vars": {
                      "type": "array",
                      "description": "global merge variables to use for all recipients. You can override these per recipient.",
                      "items": {
                        "type": "object",
                        "description": "a single global merge variable",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "the global merge variable's name. Merge variable names are case-insensitive and may not start with _"
                          },
                          "content": {
                            "type": "string",
                            "description": "the global merge variable's content"
                          }
                        }
                      }
                    },
                    "merge_vars": {
                      "type": "array",
                      "description": "per-recipient merge variables, which override global merge variables with the same name.",
                      "items": {
                        "type": "object",
                        "description": "per-recipient merge variables",
                        "required": ["rcpt"],
                        "properties": {
                          "rcpt": {
                            "type": "string",
                            "description": "the email address of the recipient that the merge variables should apply to",
                            "format": "email"
                          },
                          "vars": {
                            "type": "array",
                            "description": "the recipient's merge variables",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "the merge variable's name. Merge variable names are case-insensitive and may not start with _"
                                },
                                "content": {
                                  "type": "string",
                                  "description": "the merge variable's content"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "description": "an array of string to tag the message with. Stats are accumulated using tags, though we only store the first 100 we see, so this should not be unique or change frequently. Tags should be 50 characters or less. Any tags starting with an underscore are reserved for internal use and will cause errors.",
                      "items": {
                        "type": "string",
                        "description": "a single tag - must not start with an underscore"
                      }
                    },
                    "subaccount": {
                      "type": "string",
                      "description": "the unique id of a subaccount for this message - must already exist or will fail with an error"
                    },
                    "google_analytics_domains": {
                      "type": "array",
                      "description": "an array of strings indicating for which any matching URLs will automatically have Google Analytics parameters appended to their query string automatically.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "google_analytics_campaign": {
                      "type": "string",
                      "description": "optional string indicating the value to set for the utm_campaign tracking parameter. If this isn't provided the email's from address will be used instead.",
                      "format": "email"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "metadata an associative array of user metadata. Mandrill will store this metadata and make it available for retrieval. In addition, you can select up to 10 metadata fields to index and make searchable using the Mandrill search api.",
                      "properties": {
                        "website": {
                          "type": "string",
                          "description": "a valid website url"
                        }
                      }
                    },
                    "recipient_metadata": {
                      "type": "array",
                      "description": "Per-recipient metadata that will override the global values specified in the metadata parameter.",
                      "items": {
                        "type": "object",
                        "description": "metadata for a single recipient",
                        "properties": {
                          "rcpt": {
                            "type": "string",
                            "description": "the email address of the recipient that the metadata is associated with",
                            "format": "email"
                          },
                          "values": {
                            "type": "object",
                            "description": "an associated array containing the recipient's unique metadata. If a key exists in both the per-recipient metadata and the global metadata, the per-recipient metadata will be used.",
                            "properties": {
                              "user_id": {
                                "type": "integer",
                                "description": ""
                              }
                            }
                          }
                        }
                      }
                    },
                    "attachments": {
                      "type": "array",
                      "description": "an array of supported attachments to add to the message",
                      "items": {
                        "type": "object",
                        "description": "a single supported attachment",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "the MIME type of the attachment"
                          },
                          "name": {
                            "type": "string",
                            "description": "the file name of the attachment"
                          },
                          "content": {
                            "type": "string",
                            "description": "the content of the attachment as a base64-encoded string"
                          }
                        }
                      }
                    },
                    "images": {
                      "type": "array",
                      "description": "an array of embedded images to add to the message",
                      "items": {
                        "type": "object",
                        "description": "a single embedded image",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "the MIME type of the image - must start with \"image/\""
                          },
                          "name": {
                            "type": "string",
                            "description": "the Content ID of the image - use <img src=\"cid:THIS_VALUE\"> to reference the image in your HTML content"
                          },
                          "content": {
                            "type": "string",
                            "description": "the content of the image as a base64-encoded string"
                          }
                        }
                      }
                    }
                  }
                },
                "async": {
                  "type": "boolean",
                  "description": "enable a background sending mode that is optimized for bulk sending. In async mode, messages/send will immediately return a status of \"queued\" for every recipient. To handle rejections when sending in async mode, set up a webhook for the 'reject' event. Defaults to false for messages with no more than 10 recipients; messages with more than 10 recipients are always sent asynchronously, regardless of the value of async."
                },
                "ip_pool": {
                  "type": "string",
                  "description": "the name of the dedicated ip pool that should be used to send the message. If you do not have any dedicated IPs, this parameter has no effect. If you specify a pool that does not exist, your default pool will be used instead."
                },
                "send_at": {
                  "type": "string",
                  "description": "when this message should be sent as a UTC timestamp in YYYY-MM-DD HH:MM:SS format. If you specify a time in the past, the message will be sent immediately; for future dates, you're limited to one year from the date of scheduling.",
                  "format": "date-time"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "an array of objects for each recipient containing the key \"email\" with the email address, and details of the message status for that recipient",
              "items": {
                "type": "object",
                "description": "the sending results for a single recipient",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "the email address of the recipient"
                  },
                  "status": {
                    "type": "string",
                    "description": "the sending status of the recipient",
                    "enum": ["sent", "queued", "rejected", "invalid"]
                  },
                  "reject_reason": {
                    "type": "string",
                    "description": "the reason for the rejection if the recipient status is \"rejected\"",
                    "enum": [
                      "hard-bounce",
                      "soft-bounce",
                      "spam",
                      "unsub",
                      "custom",
                      "invalid-sender",
                      "invalid",
                      "test-mode-limit",
                      "unsigned",
                      "rule"
                    ]
                  },
                  "queued_reason": {
                    "type": "string",
                    "description": "the reason for the email being queued if the response status is \"queued\"",
                    "enum": [
                      "attachments",
                      "multiple-recipients",
                      "free-trial-sends-exhausted",
                      "hourly-quota-exhausted",
                      "monthly-limit-reached",
                      "sending-paused",
                      "sending-suspended",
                      "account-suspended",
                      "sending-backlogged"
                    ]
                  },
                  "_id": {
                    "type": "string",
                    "description": "the message's unique id"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/messages/search": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "search",
          "methodNameSnake": "search"
        },
        "summary": "Search messages by date",
        "description": "Search recently sent messages and optionally narrow by date range, tags, senders, and API keys. If no date range is specified, results within the last 7 days are returned. This method may be called up to 20 times per minute. If you need the data more often, you can use /messages/info.json to get the information for a single message, or webhooks to push activity to your own application for querying.",
        "operationId": "postMessagesSearch",
        "tags": ["messages"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "query": {
                  "type": "string",
                  "description": "search terms to find matching messages"
                },
                "date_from": {
                  "type": "string",
                  "description": "start date",
                  "format": "date-time"
                },
                "date_to": {
                  "type": "string",
                  "description": "end date",
                  "format": "date-time"
                },
                "tags": {
                  "type": "array",
                  "description": "an array of tag names to narrow the search to, will return messages that contain ANY of the tags",
                  "items": {
                    "type": "string"
                  }
                },
                "senders": {
                  "type": "array",
                  "description": "an array of sender addresses to narrow the search to, will return messages sent by ANY of the senders",
                  "items": {
                    "type": "string",
                    "description": "a single sender email address",
                    "format": "email"
                  }
                },
                "api_keys": {
                  "type": "array",
                  "description": "an array of API keys to narrow the search to, will return messages sent by ANY of the keys",
                  "items": {
                    "type": "string",
                    "description": "a single API key"
                  }
                },
                "limit": {
                  "type": "integer",
                  "description": "the maximum number of results to return, defaults to 100, 1000 is the maximum",
                  "minimum": 100,
                  "maximum": 1000
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "an array of objects for each matching message",
              "items": {
                "type": "object",
                "description": "the information for a single matching message",
                "properties": {
                  "ts": {
                    "type": "integer",
                    "description": "the Unix timestamp from when this message was sent"
                  },
                  "_id": {
                    "type": "string",
                    "description": "the message's unique id"
                  },
                  "sender": {
                    "type": "string",
                    "format": "email",
                    "description": "the email address of the sender"
                  },
                  "template": {
                    "type": "string",
                    "description": "the unique name of the template used, if any"
                  },
                  "subject": {
                    "type": "string",
                    "description": "the message's subject line"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "the recipient email address"
                  },
                  "tags": {
                    "type": "array",
                    "description": "list of tags on this message",
                    "items": {
                      "type": "string",
                      "description": "individual tag on this message"
                    }
                  },
                  "opens": {
                    "type": "integer",
                    "description": "how many times has this message been opened"
                  },
                  "opens_detail": {
                    "type": "array",
                    "description": "list of individual opens for the message",
                    "items": {
                      "type": "object",
                      "description": "information on an individual open",
                      "properties": {
                        "ts": {
                          "type": "integer",
                          "description": "the unix timestamp from when the message was opened"
                        },
                        "ip": {
                          "type": "string",
                          "description": "the IP address that generated the open"
                        },
                        "location": {
                          "type": "string",
                          "description": "the approximate region and country that the opening IP is located"
                        },
                        "ua": {
                          "type": "string",
                          "description": "the email client or browser data of the open"
                        }
                      }
                    }
                  },
                  "clicks": {
                    "type": "integer",
                    "description": "how many times has a link been clicked in this message"
                  },
                  "clicks_detail": {
                    "type": "array",
                    "description": "list of individual clicks for the message",
                    "items": {
                      "type": "object",
                      "description": "information on an individual click",
                      "properties": {
                        "ts": {
                          "type": "integer",
                          "description": "the unix timestamp from when the message was clicked"
                        },
                        "url": {
                          "type": "string",
                          "description": "the URL that was clicked on"
                        },
                        "ip": {
                          "type": "string",
                          "description": "the IP address that generated the click"
                        },
                        "location": {
                          "type": "string",
                          "description": "the approximate region and country that the clicking IP is located"
                        },
                        "ua": {
                          "type": "string",
                          "description": "the email client or browser data of the click"
                        }
                      }
                    }
                  },
                  "state": {
                    "type": "string",
                    "description": "sending status of this message",
                    "enum": ["sent", "bounced", "rejected"]
                  },
                  "metadata": {
                    "type": "object",
                    "description": "any custom metadata provided when the message was sent"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/whitelists/delete": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "delete",
          "methodNameSnake": "delete"
        },
        "summary": "Remove email from allowlist",
        "description": "Removes an email address from the allowlist.",
        "operationId": "postWhitelistsDelete",
        "tags": ["whitelists"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "email"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "email": {
                  "type": "string",
                  "description": "the email address to remove from the allowlist",
                  "format": "email"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "a status object containing the address and whether the deletion succeeded",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "the email address that was removed from the denylist"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "whether the address was deleted successfully"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {}
}